In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib.axis import Axis

In [2]:
df = pd.read_csv('FinalDataset.csv')

In [3]:
df.head()

,House_1,House_2,House_3,House_4,House_5,House_6,House_7,House_8,House_9,House_10,...,House_922,House_923,House_924,House_925,House_926,House_927,House_928,House_929,House_930,House_931
0,0.168,1.072,0.112,0.087,0.163,0.036,0.187,0.073,0.260,0.151,...,0.034,0.210,0.060,0.000,0.015,0.777,0.312,0.112,0.005,0.178
1,0.125,0.706,0.090,0.068,0.144,0.050,0.175,0.080,0.210,0.133,...,0.628,0.047,0.001,0.015,0.958,0.291,0.091,0.018,0.192,0.000
2,0.123,0.357,0.083,0.067,0.130,0.036,0.108,0.057,0.157,0.153,...,0.719,0.037,0.028,0.015,0.666,0.289,0.087,0.012,0.184,0.000
3,0.088,0.052,0.054,0.073,0.057,0.049,0.099,0.044,0.180,0.132,...,0.719,0.087,0.000,0.052,1.158,0.337,0.106,0.005,0.181,0.000
4,0.130,0.052,0.044,0.060,0.101,0.037,0.095,0.103,0.120,0.148,...,0.394,0.033,0.009,0.067,0.604,0.326,0.068,0.025,0.212,0.000

In [4]:
df= df.T

In [6]:
print(df)

              0      1      2      3      4      5      6      7      8   \
House_1    0.168  0.125  0.123  0.088  0.130  0.077  0.128  0.095  0.110
House_2    1.072  0.706  0.357  0.052  0.052  0.090  0.054  0.040  0.039
House_3    0.112  0.090  0.083  0.054  0.044  0.071  0.121  0.090  0.075
House_4    0.087  0.068  0.067  0.073  0.060  0.038  0.071  0.080  0.076
House_5    0.163  0.144  0.130  0.057  0.101  0.144  0.071  0.049  0.161
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
House_927  0.777  0.291  0.289  0.337  0.326  0.333  0.403  0.360  0.010
House_928  0.312  0.091  0.087  0.106  0.068  0.071  0.111  0.106  0.155
House_929  0.112  0.018  0.012  0.005  0.025  0.005  0.025  0.005  0.000
House_930  0.005  0.192  0.184  0.181  0.212  0.172  0.155  0.189  0.000
House_931  0.178  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000

              9   ...     38     39     40     41     42     43     44     45  \
House_1    0.112  ...  0.085  0.124  0.077  0.124  0.095  0.105  0.115  0.487
House_2    0.061  ...  0.306  0.299  0.453  0.398  0.262  0.323  0.255  0.143
House_3    0.060  ...  0.586  0.346  0.409  0.178  0.273  0.230  0.166  0.227
House_4    0.069  ...  0.334  0.209  0.157  0.159  0.180  0.123  0.403  0.151
House_5    0.091  ...  0.422  0.481  0.360  0.228  0.259  0.168  0.131  0.192
...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
House_927  0.583  ...  1.089  1.237  1.544  0.999  0.894  0.726  0.573  0.107
House_928  0.102  ...  0.380  0.311  0.227  0.219  0.200  0.178  0.153  0.015
House_929  0.019  ...  0.007  0.006  0.024  0.004  0.024  0.003  0.014  0.507
House_930  0.174  ...  0.522  0.405  0.473  0.463  0.431  0.464  0.423  0.000
House_931  0.000  ...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000

              46     47
House_1    0.256  0.173
House_2    0.245  0.357
House_3    0.203  0.263
House_4    0.102  0.036
House_5    0.128  0.079
...          ...    ...
House_927  0.466  0.380
House_928  0.095  0.069
House_929  0.005  0.025
House_930  0.420  0.185
House_931  0.000  0.000

[931 rows x 48 columns]

In [7]:
from sklearn.cluster import KMeans


# Assuming you have the "house_columns" DataFrame with the "Time" and "House" columns

# Extract the "Time" column and columns starting with "House_"
# time_column = house_columns["Time"]
# house_columns_subset = house_columns.filter(like="House_")

# print(house_columns_subset)

# Transpose the data so that each row represents a house, and each column a time interval
house_data_transposed = df

# print(house_data_transposed)

# Standardize the data
# scaler = StandardScaler()
# scaled_data = scaler.fit_transform(house_data_transposed)

# Perform K-Means clustering
n_clusters = 4  # Adjust the number of clusters as needed
kmeans = KMeans(n_clusters=n_clusters, random_state=42)
cluster_labels = kmeans.fit_predict(house_data_transposed)

# Visualize the clusters
plt.figure(figsize=(12, 8))

# for cluster in range(n_clusters):
#     cluster_mask = (cluster_labels == cluster)
#     plt.scatter(time_seconds[cluster_mask], np.full(sum(cluster_mask), cluster), s=10, label=f'Cluster {cluster}', alpha=0.5)

# print(cluster_labels)

house_data_transposed['cluster']=cluster_labels
print(house_data_transposed)

# plt.xlabel("Time (seconds since midnight)")
# plt.ylabel("Cluster Label")
# plt.title("K-Means Clustering of Houses Based on Time")
# plt.legend()
# plt.show()

               0      1      2      3      4      5      6      7      8  \
House_1    0.168  0.125  0.123  0.088  0.130  0.077  0.128  0.095  0.110
House_2    1.072  0.706  0.357  0.052  0.052  0.090  0.054  0.040  0.039
House_3    0.112  0.090  0.083  0.054  0.044  0.071  0.121  0.090  0.075
House_4    0.087  0.068  0.067  0.073  0.060  0.038  0.071  0.080  0.076
House_5    0.163  0.144  0.130  0.057  0.101  0.144  0.071  0.049  0.161
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
House_927  0.777  0.291  0.289  0.337  0.326  0.333  0.403  0.360  0.010
House_928  0.312  0.091  0.087  0.106  0.068  0.071  0.111  0.106  0.155
House_929  0.112  0.018  0.012  0.005  0.025  0.005  0.025  0.005  0.000
House_930  0.005  0.192  0.184  0.181  0.212  0.172  0.155  0.189  0.000
House_931  0.178  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000

               9  ...     39     40     41     42     43     44     45     46  \
House_1    0.112  ...  0.124  0.077  0.124  0.095  0.105  0.115  0.487  0.256
House_2    0.061  ...  0.299  0.453  0.398  0.262  0.323  0.255  0.143  0.245
House_3    0.060  ...  0.346  0.409  0.178  0.273  0.230  0.166  0.227  0.203
House_4    0.069  ...  0.209  0.157  0.159  0.180  0.123  0.403  0.151  0.102
House_5    0.091  ...  0.481  0.360  0.228  0.259  0.168  0.131  0.192  0.128
...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
House_927  0.583  ...  1.237  1.544  0.999  0.894  0.726  0.573  0.107  0.466
House_928  0.102  ...  0.311  0.227  0.219  0.200  0.178  0.153  0.015  0.095
House_929  0.019  ...  0.006  0.024  0.004  0.024  0.003  0.014  0.507  0.005
House_930  0.174  ...  0.405  0.473  0.463  0.431  0.464  0.423  0.000  0.420
House_931  0.000  ...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000

              47  cluster
House_1    0.173        0
House_2    0.357        3
House_3    0.263        3
House_4    0.036        0
House_5    0.079        3
...          ...      ...
House_927  0.380        1
House_928  0.069        0
House_929  0.025        0
House_930  0.185        3
House_931  0.000        0

[931 rows x 49 columns]

In [8]:
def getSum(df):
    sum=0.0
    for index, row in df.iloc[1:].iterrows():
        for column, value in row.iloc[1:47].items():
#             print(type(value))
#             if(value.isdigit()):
                sum=sum+float(value)
        sum = sum/48
    return sum/len(df)

In [9]:
cluster0 = house_data_transposed[house_data_transposed['cluster']==0]
cluster1 = house_data_transposed[house_data_transposed['cluster']==1]
cluster2 = house_data_transposed[house_data_transposed['cluster']==2]
cluster3 = house_data_transposed[house_data_transposed['cluster']==3]
sum1 = getSum(cluster0)
sum2 = getSum(cluster1)
sum3 = getSum(cluster2)
sum4 = getSum(cluster3)

In [10]:
print(sum1)
print(sum2)
print(sum3)
print(sum4)
print(cluster1)

3.8966972221309045e-06
0.00862792931591772
0.09250771627820713
0.0009481623149913724
               0      1      2      3      4      5      6      7      8  \
House_14   0.312  0.119  0.115  0.118  0.119  0.122  0.120  0.119  0.127
House_15   0.153  0.335  0.324  0.306  0.380  0.339  0.334  0.325  0.334
House_19   0.176  0.502  0.447  0.318  0.546  0.408  0.339  0.581  0.323
House_21   0.362  0.353  0.416  0.384  0.361  0.365  0.428  0.353  0.367
House_22   0.080  0.509  0.566  0.587  0.349  0.614  0.558  0.646  0.614
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
House_868  0.059  0.414  0.390  0.350  0.345  0.376  0.383  0.367  0.022
House_893  0.032  0.262  0.262  0.370  0.302  0.232  0.307  0.289  0.072
House_915  0.085  0.395  0.384  0.338  0.465  0.282  0.528  0.336  0.052
House_926  0.015  0.958  0.666  1.158  0.604  0.938  0.630  1.063  0.069
House_927  0.777  0.291  0.289  0.337  0.326  0.333  0.403  0.360  0.010

               9  ...     39     40     41     42     43     44     45     46  \
House_14   0.112  ...  1.637  1.095  1.084  0.845  0.746  0.760  0.266  0.185
House_15   0.355  ...  2.379  2.314  1.886  2.107  1.957  0.335  0.383  0.318
House_19   0.426  ...  0.968  0.878  0.369  0.520  0.419  0.292  0.537  0.330
House_21   0.402  ...  0.649  1.134  0.443  0.449  0.430  0.391  0.328  0.428
House_22   0.653  ...  0.542  0.546  0.482  0.491  0.447  0.984  1.498  1.008
...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
House_868  0.363  ...  2.382  1.055  0.814  0.674  0.634  0.724  0.149  0.648
House_893  0.322  ...  1.066  0.986  0.947  1.022  0.962  1.343  0.437  1.407
House_915  0.364  ...  1.001  1.118  1.031  0.865  0.603  0.479  0.222  0.589
House_926  0.882  ...  0.919  1.034  0.962  1.095  0.772  1.041  0.383  0.951
House_927  0.583  ...  1.237  1.544  0.999  0.894  0.726  0.573  0.107  0.466

              47  cluster
House_14   0.190        1
House_15   0.308        1
House_19   0.420        1
House_21   0.356        1
House_22   0.481        1
...          ...      ...
House_868  0.814        1
House_893  0.236        1
House_915  0.324        1
House_926  0.831        1
House_927  0.380        1

[64 rows x 49 columns]

In [19]:
print(cluster1)
cluster1.describe()

               0      1      2      3      4      5      6      7      8  \
House_14   0.312  0.119  0.115  0.118  0.119  0.122  0.120  0.119  0.127
House_15   0.153  0.335  0.324  0.306  0.380  0.339  0.334  0.325  0.334
House_19   0.176  0.502  0.447  0.318  0.546  0.408  0.339  0.581  0.323
House_21   0.362  0.353  0.416  0.384  0.361  0.365  0.428  0.353  0.367
House_22   0.080  0.509  0.566  0.587  0.349  0.614  0.558  0.646  0.614
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
House_868  0.059  0.414  0.390  0.350  0.345  0.376  0.383  0.367  0.022
House_893  0.032  0.262  0.262  0.370  0.302  0.232  0.307  0.289  0.072
House_915  0.085  0.395  0.384  0.338  0.465  0.282  0.528  0.336  0.052
House_926  0.015  0.958  0.666  1.158  0.604  0.938  0.630  1.063  0.069
House_927  0.777  0.291  0.289  0.337  0.326  0.333  0.403  0.360  0.010

               9  ...     39     40     41     42     43     44     45     46  \
House_14   0.112  ...  1.637  1.095  1.084  0.845  0.746  0.760  0.266  0.185
House_15   0.355  ...  2.379  2.314  1.886  2.107  1.957  0.335  0.383  0.318
House_19   0.426  ...  0.968  0.878  0.369  0.520  0.419  0.292  0.537  0.330
House_21   0.402  ...  0.649  1.134  0.443  0.449  0.430  0.391  0.328  0.428
House_22   0.653  ...  0.542  0.546  0.482  0.491  0.447  0.984  1.498  1.008
...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
House_868  0.363  ...  2.382  1.055  0.814  0.674  0.634  0.724  0.149  0.648
House_893  0.322  ...  1.066  0.986  0.947  1.022  0.962  1.343  0.437  1.407
House_915  0.364  ...  1.001  1.118  1.031  0.865  0.603  0.479  0.222  0.589
House_926  0.882  ...  0.919  1.034  0.962  1.095  0.772  1.041  0.383  0.951
House_927  0.583  ...  1.237  1.544  0.999  0.894  0.726  0.573  0.107  0.466

              47  cluster
House_14   0.190        1
House_15   0.308        1
House_19   0.420        1
House_21   0.356        1
House_22   0.481        1
...          ...      ...
House_868  0.814        1
House_893  0.236        1
House_915  0.324        1
House_926  0.831        1
House_927  0.380        1

[64 rows x 49 columns]

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,cluster
count,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,...,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.0
mean,0.201406,0.412203,0.379297,0.405625,0.394344,0.357359,0.338203,0.361547,0.305391,0.374922,...,1.199891,1.156328,1.007172,0.946891,0.893906,0.772734,0.468172,0.648234,0.549266,1.0
std,0.296257,0.300328,0.255294,0.306211,0.331786,0.223746,0.210096,0.238883,0.234814,0.272446,...,0.549311,0.507389,0.392182,0.394777,0.369056,0.342744,0.419575,0.384035,0.352458,0.0
min,0.006000,0.036000,0.045000,0.038000,0.044000,0.038000,0.042000,0.037000,0.010000,0.036000,...,0.259000,0.255000,0.369000,0.245000,0.380000,0.246000,0.034000,0.117000,0.083000,1.0
25%,0.055000,0.205500,0.213750,0.231500,0.184250,0.191000,0.185750,0.195500,0.104500,0.182250,...,0.779000,0.848500,0.738750,0.666000,0.629250,0.556000,0.126250,0.352250,0.286500,1.0
50%,0.114000,0.307500,0.343000,0.317000,0.330500,0.293000,0.298000,0.304000,0.265500,0.324000,...,1.098500,1.058500,0.963000,0.888000,0.836500,0.671500,0.383000,0.567500,0.479000,1.0
75%,0.240000,0.537750,0.466750,0.509500,0.484000,0.477250,0.429000,0.481250,0.401250,0.446250,...,1.445500,1.415250,1.209000,1.201000,1.109000,0.995250,0.683500,0.839500,0.759000,1.0
max,2.078000,1.458000,1.253000,1.409000,2.134000,0.938000,0.941000,1.063000,0.930000,1.375000,...,2.762000,2.722000,2.007000,2.108000,2.281000,1.947000,1.922000,1.900000,1.888000,1.0

In [22]:
cluster1.to_csv('finalHousesTest_1.csv', index=True)